.dashboard-nav {
    padding: 1rem;
    background-color: #b9c5c3;
    border-bottom: 0.5px solid #6f807d;
  }  
.text-start{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
  .rounded{
    height: 3rem;
  }
  
  @media (max-width: 991px) {
    .navbar-collapse {
      text-align: center;
    }
  
    .navbar-nav {
      margin-top: 10px;
    }
  }
  