.footer {
    background:  #B0C4DE;
    color: rgb(0, 0, 0);
    padding: 40px 0;
  }
  .footer a {
    color: rgb(2, 2, 2);
    text-decoration: none;
  }
  .footer a:hover {
    color: #f8f9fa;
    text-decoration: underline;
  }
  .footer .social-icons a {
    font-size: 24px;
    margin: 0 10px;
    display: inline-block;
  }
  .footer-bottom {
    text-align: center;
    
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }