.navbar {
  padding: 1rem;
  background-color: rgb(252, 252, 252);

}

.logo-img {
  height: 40px;
}

.nav-link {
  color: black;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
  color: #007bff;
}

.btn-primary {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.navbar-collapse {
  justify-content: flex-end;
  font-size: 18px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: 10px;
  }
}