
.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: rgb(32, 9, 77);
  color: white;
  transition: all 0.3s ease-in-out;
}

.sidebar .nav-link {
  color: white;
  padding: 10px;
  transition: 0.3s;
  font-size: 15px;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

@media (max-width: 992px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }
}