.navbar {
    width: 100%;
    transition: 0.3s;
    padding: 10px 20px;
}

@media (min-width: 992px) { /* Desktop Mode */
    .navbar {
        width: calc(100% - 250px);
        margin-left: auto;
    }
}

@media (max-width: 768px) { /* Mobile View */
    .navbar {
        width: 100%;
    }
}

