.custom-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.delete, .edit {
    background: none;
    border: none;
    cursor: pointer;  
}

.delete-icon {
    color: red; 
    font-size: 1.5rem;
    align-items: center;
}

.edit-icon {
    color: blue;
    font-size: 1.5rem;
    align-items: center;
}
