table .thead th {
    background-color: gray !important;
    color: white;
    text-align: center;
}


.modal-dialog {
    max-width: 600px; 
    width: 90%;
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
    .modal-footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-dialog {
        width: 100%;
        max-width: 95%;
    }

    .form-control, .input-group {
        width: 100%;
    }
}

.css-2b097c-container {
    width: 100% !important;
}
