.table-responsive {
    overflow-x: auto;
}

table .thead th {
    background-color: gray !important;
    color: white;
    text-align: center;
}

.modal-dialog {
    max-width: 600px;
    width: 90%;
}

@media (max-width: 768px) {
    .modal-dialog {
        max-width: 95%;
        width: 100%;
    }

    .modal-footer {
        flex-direction: column;
        gap: 10px;
    }

    .form-control, .input-group {
        width: 100%;
    }

    .table-responsive {
        overflow-x: auto;
    }
    
    .d-flex.align-items-center.gap-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.css-2b097c-container {
    width: 100% !important;
}
