.full-height-bg {
    min-height: 100vh;
    width: 100%;
}

.table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}

/* Responsive filter section */
@media (max-width: 1050px) {
    .d-flex {
        flex-wrap: wrap;
        margin-top: 2px;
    }
    
    .table {
        font-size: 8px;
    }
    .status{
       font-size: 10px;
    }
    .bySearch{
        font-size: 10px;
        width:100%;
    }
    .byDate{
        font-size: 10px;
        min-width: 50%;
    }
}

/* Pagination Buttons */
.btn {
    min-width: 30px;
    text-align: center;
}

